.quizBlock {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 100px auto 0 auto;
    padding: 15px 15px;
}

.finishLink {
    text-decoration: none;
}

.questionCount {
    margin-bottom: 20px;
}