.list {
    margin-top: 50px !important;
}

.listBlock {
    margin-top: 10%;
}

.computerTable {
    margin-bottom: 20px;
}

.applicationTable {
    margin-bottom: 20px;
}

.tableContainer {
    margin-bottom: 20px;
}